html {
    scroll-behavior: smooth;
    font-size: 16px;
}
* {
    line-height: 1.5rem !important;
    touch-action: manipulation;
}
body {
    width: 100%;
    margin: auto;
    background-color: #5967b2;
    font-family: 'Seymour One', sans-serif;
    position: relative;
}
header {
    width: 100%;
    margin: auto;
}
h4 {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 1.65rem;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    font-style: italic;
    color: ivory;
    text-shadow: 3px 3px 0px black;
}
h2 {
    text-align: center;
    margin: 30px 0px 0px 0;
    padding: 10px 0;
    font-size: 1.5rem;
    font-style: italic;
    color: #333333;
    background-color: #8e94c6;
}
.examples {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.acura {
    display: flex;

justify-content: space-between;
}
.focus {
    display: flex;
    justify-content: space-between;
}
.percent50 {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}
.percent32 {
    width: 33.3%;
    box-sizing: border-box;
    padding: 5px;
}
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #8e94c6;
    padding: 20px 0;
}
li {
    display: flex;
    list-style: none;
    flex-grow: 1;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.menu_item_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #222222;
    background-color: #fcca7b;
    transition: .5s ease;
}
.menu_item_link:hover {
    background-color: #fff;
    transform: scale(1.05);
    text-align: center;
}
.menu li:nth-child(2) {
    margin: 0 20px;
}
.menu li:nth-child(1), .menu li:nth-child(3){
    margin: 0 30px;
}
.menu li {
    text-align: center;
}
.main_photo {
    width: 100%;
}
.photo_pitt {
    width: 100%;
}
.telegram {
    position: fixed;
    z-index: 10;
    width: 100px;
    right: 4%;
    bottom: 4%;
    opacity: .8;
    transition: .5s ease;
}
.telegram:hover {
    transform: scale(1.1);
    opacity: 1;
}
section {
    max-width: 100%;
}
.main_info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.two_photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.photo_adapter1, .text_block {
    display: block;
    max-width: 50%;
    flex-grow: 1;
}
.text_block {
    box-sizing: border-box;
}
h3 {font-size: 1.25rem;
    margin-bottom: 30px;

}
p { 
    font-size: 1rem;
    color: #ddd;
}
.text_description {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 20px 40px 0px 40px;
    color: #fff;
    box-sizing: border-box;
    height: 100%;
}
.photo_picture {
    max-width: 100%;
    box-sizing: border-box;

}

.contacts {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5rem;
    background: #394277;
}
.flex_element {
    text-align: center;
    /* width: 30%; */
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px;
}
.icon {
    margin: 0 10px;
}
.phone, .address {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.phone {
    text-shadow: 3px 3px 0px black;
}
.novaposhta {
    opacity: .9;
}
.flex_picture {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.picture {
    width: 50%;
}
.ramka {
    font-size: 1.3rem;
    text-shadow: 3px 3px 0px black;
}
.flex_picture {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}
.picture {
    width: 50%;
    margin: 0px 0px 7px 0px;
    position: relative;
}
.picture::after {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #8e94c6;
    margin-bottom: 20px;
    position: absolute;
    z-index: 20;

}
.between_photos {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 10px;
    color: #ddd;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
}
.nova_poshta {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 1.65rem;
}
.minus4 {
    margin-top: -2px;
}
.between_h4 {
    margin-top: 10px;
    line-height: 1.5rem;
}
.price {
    color: rgb(45, 205, 116);
    font-size: 2rem;
    text-shadow: 2px 2px 0px black;
    margin-top: 20px;
    margin-bottom: 0;
}
.order_wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.order_container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.order_container h4 {
    margin: 20px 0px;
    text-align: center;
}
.count_setter {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
}
.count_setter > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.count_setter_item {
    position: relative;
}
.count_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 3rem;
    background: none;
    color: white;
    border: 1px solid white;
}
.count_btn:hover, button {
    opacity: 1;
    cursor: pointer;
}
.count_btn:disabled {
    border: 1px solid rgba(255, 255, 255, 0.397);
    color: rgba(255, 255, 255, 0.397);
}
.counter_value {
    font-size: 10rem;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
    color: #fff;
}
.amount_container {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: #ddd;
}
.amount_value {
    font-size: 2.5rem;
}
.pcs {
    position: absolute;
    top: 100px;
    font-size: 1.3rem;
    color: #ddd
}
.mount_type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    grid-gap: 10px;
    height: 50vh;
}
/* .mountItem {
    animation: updown 2s linear infinite;
} */
.mount_type button {
    /* margin: 10px; */
    font-family: 'Seymour One', sans-serif;
    background: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.6;
    cursor: pointer;
    transform: scale(0.96);
    transition: all 300ms ease;

}
#gold {
    background-image: url('../img/gold2.jpg');
}
#silver {
    background-image: url('../img/silver2.jpg');
}
.mount_type button span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    color: #eee;
}
.active_mount {
    opacity: 1 !important;
    transform: scale(1) !important;
    animation: none;
}
/* .active_mount::after {
    display: table;
    content: 'V';
    color: black;
} */
.after_mount > * {
    color: #ccc;
}
.form_container {
    display: flex;
    justify-content: center;
}
.form_container form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form_container label, .form_container input {
    min-width: 500px;
    max-width: 1000px;
    height: 30px;
}
.form_container label {
    margin-top: 30px;
    font-size: 1rem;
    color: #fff;
    position: relative;
    margin-left: 15px;
}
.form_container label::after {
    content: '*';
    display: table;
    color: tomato;
    position: absolute;
    top: -12px;
    left: -15px;
}
.form_container button{
    margin-top: 50px;
    height: 50px;
}
input:focus {
    outline: none;
    border-color: none;
}
.invalid_input {
    border-color: tomato;
}
input, button {
    font-family: 'Seymour One', sans-serif;
}
input::placeholder {
    opacity: .6;
}
.button_container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.novaposhta {
    height: 50px;
}
.privat {
    height: 60px;
}
.apple, .gpay {
    margin-top: 10px;
    height: 30px;
}
.show_terms {
   height: 0;
   overflow: hidden;
}
#termsandreturn {
    font-size: 75%;
}
.termsbutton {
    line-height: 2.5rem !important;
}
.termsbutton:hover {
    cursor: pointer;
}
.game_container {
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
}
.game_img {
    height: 80px;
    margin: 10px;
}
.adapter_schema {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 200;
    top: 0;
}
.game_container:hover, .close_schema {
    cursor: pointer;
}
.adapter_schema_img {
    width: 100%;
}
.close_schema {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 909px){
    .game_img_many {
        height:  50px;
    }
    .count_setter {
        height: 100vh;
    }
    .form_container label, .form_container input {
        min-width: 300px;
        max-width: 1000px;
        height: 30px;
    }
    .form_container label {
        font-size: 1.5rem;
    }
    .mount_type {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
html {
    scroll-behavior: smooth;
    font-size: 10px;
    }
    .two_photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.photo_adapter1, .text_block {
    display: block;
    max-width: 100%;
}
.text_description > h3 {
    text-align: center;
    font-size: 1.9rem;
}
h2 {
    font-size: 2rem;
    margin-top: 20px;
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 1.25rem;
    color: #ddd;
}
.menu_item_link {
    font-size: 1.5rem;
}
.menu li:nth-child(2) {
    margin: 0 5px;
}
.menu li:nth-child(1), .menu li:nth-child(3){
    margin: 0 5px;
}
.telegram {
    width: 50px;
}
.text_description {
    padding-top: 20px;
}
iframe {
    height: 210px;
}
.text_description h3:nth-child(5) {
    margin-bottom: 10px;
}
.flex_element {
    text-align: center;
    /* width: 60%; */
}
.second_block:before {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #8e94c6;
    margin-bottom: 20px;
}
.flex_picture {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.picture {
    width: 100%;
    background-color: #222222;
    margin: 0;
}
.between_photos {
    width: 90%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.nova_poshta {
    width: 100px;
}
.count_btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.pcs {
    top: 50px;
}
}
.full_width {
    width: 100% !important;
}
@media (min-width: 1369px) {
    body {
        width: 70%;
    }
}
@media (min-width: 1921px) {
    body {
        width: 55%;
    }
}

.spinner {
    position: relative;
    animation: spinner 1s linear infinite;
    z-index: 2;
    display: flex;
    width: 150px;
}
.load_text {
    position: absolute;
    color: rgba(9, 9, 9, 0.605);
    font-size: 0.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
  @keyframes spinner {
      0% {
          transform: scale(1.05);
      }
      50% {
          transform: scale(1);
      }
    100% {
      transform: scale(1.05);
    }
  }

  @keyframes updown {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(0.96);
    }
  100% {
    transform: scale(0.97);
  }
}
  
  